/* body {
    font-family: Arial;
    color:#103438;
  height:100vh;
}
 */
/* #container {
    width: 60%;
    margin: auto;
  height:100%;
} */
/* header{
  height:100%;
} */
h1 {
    font-size:300% ;
}


/* Helper Function */
/* Parallax Styles */
section{
  position: inherit;
  display: flex;
  justify-content: center;
  height: 90vh;
  background-image: url("https://i.imgur.com/wDv7YYv.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#two{
    background-image: url("https://images.unsplash.com/photo-1598928506311-c55ded91a20c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

}
h1{
  position: sticky;
  
}


  @media screen and (max-width: 768px ){
      #container {
          width: 90%;
      }
      h1 {
          font-size: 200%;
      }
  }